{% extends "_core_centered_text.html" %}

{% block pagetext %}

<h1>Chronovore</h1>

{% filter numbered_markdown %}

# Introduction

It is the forty-first millennium. It is also the third millennium, and the sixteenth millennium BC.

It is 4:37pm last Tuesday. It has been 4:37pm last Tuesday since long before the first life crawled out the primordial pools, and it will continue to be 4:37pm last Tuesday long after everyone reading these words dies of old age.

The ancient texts tell of a time when the Rifts were sparse and the Sun traveled across the sky every day. Imagine writing something so preposterous. Everyone knows the Sun never moves.

# Timeline

## 2026 AD

History proceeds as records indicate, up to this point and beyond.

## 2100 AD

Mankind has colonized Mars and other pieces of the solar system.

## 3000 AD 

The first Void Rifts appear. Mankind leverages them to travel to other worlds, most of which are elsewhere in the observable universe. Alien contact is made, both friendly and hostile.

## 5000 AD 

Psychic abilities begin manifesting themselves amongst the population. Rifts continue to appear throughout the cosmos, somewhat irregularly.

## 9000 AD 

Rifts begin appearing at greater and greater frequencies. Whole cities find themselves abruptly linked to other territories and worlds and time periods. Conflict arises throughout the universe as humanity encounters their own ancestors and decendents, countless hostile alien races, and creatures from within the Void.

Out of this chaos arises a figure later known as the Shattered King. A scientific genius, powerful psychic, and charismatic leader, he promises stability and an end to the Void Rifts and other threats to humanity. The masses follow his lead, out of either respect or fear.

## 10000 AD 

In a single catestrophic moment, the Shattered King fails in his mission. Spacetime collapses, a bubble of chronological destruction expanding outward at the speed of light. The moment of failure stretches impossibly long, consuming all of time in its maw. Thousands of years away, in the deep past and far future, the first Void Rifts begin appearing.

## 4:37pm last Tuesday 

In a universe where time has ceased to have meaning, there is only unending conflict throughout a fractured and broken reality. The followers of the Shattered King carry on his crusade to cleanse the realm of threats, and potentially seek an end to the Cataclysm itself. Opposing them are innumerable hostile alien forces seeking revenge, and unknown threats whisper within the Void itself.


{% endfilter %}
{% endblock %}
