<!-- Toasts -->
<div class="toast" id="toast-copy-success" role="alert" data-animation="true" data-autohide="true" data-delay="5000">
  <div class="toast-body text-center bg-success rounded text-white">
    <i class="fas fa-check-circle fa-fw text-white me-2"></i>Copied to clipboard
  </div>
</div>
<div class="toast" id="toast-copy-error" role="alert" data-animation="true" data-autohide="true" data-delay="5000">
  <div class="toast-body text-center bg-black text-white rounded">
    <i class="fas fa-exclamation-circle fa-fw text-danger me-2"></i>Unable to copy
  </div>
</div>
<div class="toast" id="toast-success"  role="alert"  data-animation="true" data-autohide="true" data-delay="5000">
  <div class="toast-body bg-success text-center text-white rounded">
    <i class="fas fa-smile fa-fw me-2"></i><span class="toast-text"></span>
  </div>
</div>
<div class="toast" id="toast-error" role="alert"  data-animation="true" data-autohide="true" data-delay="5000">
  <div class="toast-body bg-danger text-center text-white rounded">
    <i class="fas fa-exclamation-circle fa-fw me-2"></i><span class="toast-text"></span>
  </div>
</div>