{% extends "_core_centered.html" %}

{% block pagecontent %}

<h1>Chronovore</h1>

{% filter numbered_markdown %}

# Introduction

It is the forty-first millennium. It is also the third millennium, and the sixteenth millennium BC.

It is 4:37pm last Tuesday. It has been 4:37pm last Tuesday since long before the first life crawled out the primordial pools, and it will continue to be 4:37pm last Tuesday long after everyone reading these words passes away of old age.

The ancient texts tell of a time when the Rifts were sparse and the Sun moved in the sky. Imagine that.

Those authors certainly had a vivid imagination. Everyone knows the Sun doesn't move.

# Timeline

* 2026 AD - History proceeds as records indicate, up to this point and beyond.
* 2100 AD - Mankind has colonized Mars and other pieces of the solar system.
* 3000 AD - The first Void Rifts appear. Mankind leverages them to travel to other worlds, most of which are elsewhere in the observable universe. Alien contact is made, both friendly and hostile.
* 5000 AD - Psychic abilities begin manifesting themselves amongst the population. Rifts continue to appear throughout the cosmos, somewhat irregularly.
* 9000 AD - Rifts begin appearing at greater and greater frequencies. Whole cities find themselves abruptly linked to other territories and worlds. Out of this chaos arises a figure now known as the Shattered King. A scientific genius, powerful psychic, and charismatic leader, he promises stability and an end to the explosion of Void Rifts.
* 10000 AD - In a single catestrophic moment, the Shattered King fails in his mission. Spacetime collapses, a bubble of chronological destruction expanding outward at the speed of light. The damage to reality is felt thousands of years away in the deep past and far future. The first Void Rifts begin appearing.
* 4:37pm last Tuesday - The soldiers of the Shattered King carry on his crusade to cleanse the stars of threats to mankind. If they can't fix reality, they can at least cure it of the threats it contains.


{% endfilter %}
{% endblock %}