{% extends "_core_centered.html" %}

{% block pagecontent %}

<h1>Core Rules</h1>

{% filter numbered_markdown %}


<div class="nested-numbered-list">


# Introduction

AltHammer is a turn-based activation tabletop wargaming experience. It is intended to be played with your existing collection of wargaming models.

# General Rules

## Priority

In the event of inconsistency between two sources of rules, use the rule that is found in the earliest location in this list:

* Rules specific to a particular unit, weapon, or piece of gear
* Rules associated with a unit's or weapon's +Keywords+
* Detachment Rules
* Faction Rules
* Core Rules

# References

The following pages are also part of the Core Rules, but have been separated out for clarity and readability purposes:

* [Definitions](/rules/definitions)
* [Keyword Rules](/rules/keyword_rules)
* [Strategems](/rules/strategems)
* [Terrain](/rules/terrain)
* [Weapon Keywords](/rules/weapon_keywords)

# Keywords

See [Keyword Rules](/rules/keyword_rules)

# Order of Play

## Determine Points Limit

Together with your opponent, agree on a points limit for the game of at least 500 points or higher. Suggested limits:
* Small: 500 points
* Medium: 1000 points
* Large: 2000 points
* Epic: 3000+ points

Additionally, if both players agree to it, the [Sideboard](sideboard_option) optional rule may be enabled.

## Select Faction and Detachment

Select your army Faction and Detachment.

You do not have to reveal your selections to your opponent at this time, but if your opponent reveals their selections to you, consider reciprocating.

## Muster Army

Assemble a collection of units in your chosen Faction, up to the agreed points limit.

Requirements:
* All units must have the Faction Keyword matching your chosen Faction.
* Your entire army must not contain more than one unique Secondary Faction Keyword
* All units must meet any requirements or restrictions established by your chosen Faction's rules or your chosen Detachment's rules.
* You must include at least one +Character+ model.
* You may not include more than one +Supreme Commander+ model.
* You may not include more than one copy of any given +Epic Hero+ unit.
* You may not include more than six copies of any given +Battleline+ unit.
* You may not include more than three copies of any other unit

Select one +Character+ or +Epic Hero+ Model as your army's Warlord. If your army includes a +Supreme Commander+ model, you must choose that model as your +Warlord+.

The chosen model gains the +Warlord+ keyword.

## Determine Mission

Determine the deployment zone layout and place objective markers.

## Set Up Battlefield

Set up a tabletop battlefield according to the agreed upon points limit:

* 500-1999 points: 44" x 60"
* 2000+ points: 44" x 90"

Add terrain features in a mutually agreeable manner. Overall terrain layout should be either reflectively or rotationally symmetric.

Ensure that the classification of all terrain features is mutually understood and agreed upon. See [Terrain](/core_rules/terrain)

## Reveal Armies and Formations

Reveal your chosen Faction, Detachment, and mustered units to the opposing player, if you have not already done so. Identify which Model is your +Warlord+.

### Leaders and Bodyguards

Identify any models with the Leader rule, and declare which unit they are attached to.

If attached, the leading model gain the +Leader+ keyword, and models in the unit it is attached to gain the +Bodyguard+ keyword. The combined group is treated as a single unit unless and until either the +Leader+ or all +Bodyguards+ are destroyed.

While combined, the unit's starting strength is equal to the total model count of the component units. 

### Reserves.

Identify any units to be placed in Reserves. Set them aside.

## Sideboard Option

The Sideboard Option may be enabled by mutual agreement between players during the Determine Points Limit step. If any player declines the Sideboard Option, it is not enabled.

If the Sideboard Option is enabled:

* During the [Muster Army](#muster_army) step, assemble a collection of units up to 500 points *above* the agreed points limit instead.

* After the [Reveal Armies and Formations](#reveal_armies_and_formations) step, Roll Off. Beginning with the player who lost the Roll Off, players alternate selecting and removing units from their mustered army, until their remaining army is at or below the agreed points limit. 

     * Your +Warlord+ Model must remain in your army.

## Deploy Armies

Roll Off. Beginning with the player to win the Roll Off, alternate placing one unit onto the battlefield within your deployment zone. Once one player has deployed all available units, the other player may deploy all of their remaining units at once.

Units must be placed onto the battlefield in [Unit Coherency](/rules/definitions#unit_coherency).

## The Battle Round

The battle consists of five Battle Rounds. Each Battle Round contains the following steps:

* [Round Start](#round_start)
* [Generate Command Points](#generate_command_points)
* [Roll Battle-Shock](#roll_battle-shock)
* [Roll Initiative](#roll_initiative)
* [Deploy Reserves](#deploy_reserves) (Round 2+)
* [Alternating Activation](#alternating_activation)
* [Cleanup](#cleanup)
* [Scoring](#scoring)
* [Round End](#round_end)

### Roll Initiative

Each player rolls 2d6 and subtracts the Leadership property of their +Warlord+ (going into negative numbers if necessary). The player with the [greater result](https://en.wikipedia.org/wiki/Negative_number#The_number_line) wins the Initiative roll, and is considered to "have initiative" for the round.

In the event of a tie, both players re-roll.

### Generate Command Points

Both players recieve 1 Command Point. 

### Round Start

Any effects or Strategems that happen "at the start of the Battle Round" should be invoked here, in alternating turns, beginning with the player who has initiative.

### Roll Battle-Shock

For each unit that is at or below Half Strength, roll 2d6. If the result is less than the greatest Leadership property in the unit, the unit is Battle-shocked until the end of the Battle Round.

Battle-Shocked units:

* Cannot be selected by Strategems.
* Have an Objective Control property of 0
* Cannot Move (or Advance) out of Melee Distance.

### Deploy Reserves

This phase is skipped during the first Battle Round.

Beginning with the player that has initiative, alternate deploying units in Reserves to the Battlefield, if so desired. Units must be placed at least 9" away from all enemy units.

Units may be placed into different areas of the battlefield, depending on the round:

* Round 2: Your deployment zone
* Round 3: Your deployment zone, the neutral zone
* Round 4: Your deployment zone, the neutral zone, anywhere within 6" of the Battlefield edge
* Round 5: Anywhere

Units must be placed onto the battlefield in [Unit Coherency](/rules/definitions#unit_coherency).

### Alternating Activation

Beginning with the player that has initiative, alternate selecting a unit to Activate.

Units may not be Activated more than once in the Battle Round.

Once one player has Activated all available units, the other player may Activate all of their remaining units.

See the Activation section below.

### Scoring

Each player scores Victory Points based on mission rules and the state of the Battlefield.

### Round End

Any effects which last "until the end of the Battle Round" end here.

Any abilites which occur at the end of the battle round should be invoked here, in alternating turns, starting with the player who has initiative.

# Activation

When Activated, a unit may do up to two of the following actions, in this order:

* [Move](#move)
* [Magik](#magik) (+Psyker+ units only)
* [Shoot](#shoot)
* [Charge](#charge)
* [Fight](#fight)

## Move

Each Model in the unit may move up to the number of inches indicated by its Movement property. 

Models may use their Movement to move horizontally, or vertically up or down terrain.

+Fortification+ models may not move at all.

+Fly+ models may move diagonally through the air to go over terrain.

+Aircraft+ models must make their movement by rotating up to 90 degrees on the spot, then moving straight forward a minimum distance. +Aircraft+ only need to consider horizontal movement; they are not impacted by terrain and can move vertically for free.

### Advance

Units that are Moving may choose to Advance instead. When Advancing, roll d6 and add the result in inches to the unit's Movement property.

Units which Advance may not Shoot, Magik, or Charge in the same Activation, unless performing a Shoot action with an +[Assault]+ weapon.

### Fall Back

Units that are in Melee Distance of an enemy unit cannot move out of Melee Distance unless they choose to Fall Back.

Units which Fall Back may not Advance, Shoot, Magik, or Charge in the same Activation.

### Restrictions

The following restrictions apply to any form of movement, whether performed as a part of a Move action or for any other reason:

* Units in Melee Distance of an enemy unit may not move through enemy models.
* Models may not end their movement on another model or its base.
* Models may not move through enemy models, unless either unit has +Fly+.
* Models may not end a movement within Melee Distance of enemy units, unless either unit is an +Aircraft+, or unless they started the move within Melee Distance of the same enemy units.
* Models may not end their movement partially up a wall or other terrain obstacle.
* Models must end their movement wholly within the Battlefield, except for +Aircraft+.
     * +Aircraft+ which end their movement not wholly within the Battlefield are removed and placed into Reserves; they may be [deployed](#deploy_reserves) during the next Battle Round.
* Units must end their movement in [Unit Coherency](/rules/definitions#unit_coherency).

### Unit Coherency

At any point in the game (except during a Unit's movement), if a Unit is found to *not* be in [Unit Coherency](/rules/definitions#unit_coherency), the player controlling that unit must immediately remove Models from the Unit until Unit Coherency is achieved. When removing Models to achieve Unit Coherency, do not activate On Death rules for the removed Models.

## Magik

Only +Psyker+ Models may perform this action.

Select a spell from your Detachment rules.

For each +Psyker+ model in the unit, make a Psychic test: Roll 2d6. If the model has a Psychic Power trait, add that trait to the result.

If the result of the Psychic test is greater than or equal to the spell's Difficulty (shown in brackets next to the spell name), then the spell is successful. Resolve the effects of the spell. Any damage caused by the spell to any other unit is considered +[Psychic]+.

### Perils of Power

If the result of the Psychic test was an unmodified 2 or unmodified 12, then the Model suffers Perils of Power: The Model's unit suffers d3 Mortal Damage. (For an unmodified 12, the spell is still successful; resolve the spell's effects first.)

### Deny the Psychic

If the Psychic test is passed, the opposing player may attempt to Deny the Psychic before the spell effects are resolved. The opposing player selects a +Psyker+ Model within 18" of the Activated +Psyker+ Model, and makes a Psychic test. If the result of the opposing Psychic test is greater than the Activated Model's Psychic test, then the spell is blocked and does not take effect.

### Smite

All +Psyker+ Models know the spell Smite:

> **[6] Smite**
> 
> Select a target within 18". It suffers d6 Mortal Damage. Until the end of the Battle Round, increase the Difficulty of this spell by 1.

## Shoot

Select a target enemy unit and a Ranged weapon profile to attack it with.

If the Activated unit is within Melee Distance of an enemy, it cannot Shoot, unless all of the following are true:

* It is targeting an enemy unit in melee distance, and
* The Activated unit is a +Monster+ or +Vehicle+, or the selected Ranged weapon is a +[Pistol]+

For each Model in your unit with line-of-sight to at least one model in the enemy unit, make attacks. See the [Combat](#combat) section below.

Repeat until attacks have been made with all eligible ranged weapons.

## Charge

Select a target enemy unit. Roll 2d6 for Charge Movement; if the result is greater than or equal to the distance to the enemy unit (measured in inches, rounded down), move the unit directly towards the enemy unit until they are in Melee Distance. No Model may move a greater distance than the Charge Movement result.

+Aircraft+ cannot be selected as a Charge target unless all models in the charging unit have +Fly+.

After a Charge, both the unit and its target enemy unit shall perform a Fight action, selecting the other unit as the target.

## Fight

Select a target enemy unit that is within Melee Distance and a melee weapon profile to attack with. Make attacks. See the [Combat](#combat) section below.

To make melee attacks, a model must:

* Be within Melee Distance of an enemy model, or
* Be within 2" of another model in the unit which is within Melee Distance of an enemy model

+Aircraft+ cannot Fight, unless attacking another +Aircraft+.

+Aircraft+ cannot be selected as a Fight target unless all models in the attacking unit have +Fly+.

Only one melee weapon may be used.

# Combat

All combat is made with a weapon profile listed on the attacking unit's data card. The attacking model makes a number of attacks equal to the <i class="fas fa-fw fa-swords"></i> Attacks property of the weapon profile.

Attacks may only be made against targets that are within the weapon's <i class="fas fa-fw fa-ruler"></i> range, measured in inches.

For each attack:

* Attacker rolls to Hit. If successful, continue.
* Attacker rolls to Wound. If successful, continue.
* Defender rolls to Save. If failed, damage is applied to the target.

## Hit Roll

Attacker rolls d6. If the result is greater than or equal to the <i class="fas fa-fw fa-gun"></i> <i class="fas fa-fw fa-sword"></i> Skill property of the weapon profile, the attack hits and the attack sequence continues. Otherwise, the attack misses, and the attack sequence ends here.

Unmodified Hit Rolls of 1 are treated as "Critical Fails", and are always unsuccessful, regardless of any modifiers.

Unmodified Hit Rolls of 6 are treated as "Critical Hits", and are always successful, regardless of any modifiers. 

## Wound Roll

Attacker rolls d6. Compare the attacking weapon profile's <i class="fas fa-fw fa-hand-fist"></i> Strength property with the targeted unit's <i class="fas fa-fw fa-block-brick"></i> Toughness property to determine the required dice roll. If successfull, the attack hits solidly, and the attack sequence continues. Otherwise, the attack glances off, and the attack sequence ends here.

* Strength half of Toughness or less: 6+ required
* Strength less than Toughness: 5+ required
* Strength equal to Toughness: 4+ required
* Strength greater than Toughness: 3+ required
* Strength double Toughness or greater: 2+ required.

Unmodified Wound Rolls of 1 are treated as "Critical Fails", and are always unsuccessful, regardless of any modifiers.

Unmodified Wound Rolls of 6 are treated as "Critical Wounds", and are always successful, regardless of any modifiers. 

## Saving Roll

The defending player selects a Model in the targeted unit that is within line of sight and range to the attacking unit. 

If a wounded Model is a legal option, select that Model. A +Leader+ Model must not be chosen, unless the attacking weapon is +[Precise]+

The defending player rolls d6 and worsens the result by the attacking weapon's <i class="fas fa-fw fa-bone-break"></i> Armor Break property. If the result is greater than or equal to the <i class="fas fa-fw fa-shield"></i> Armor Save property of the selected Model, then the target's armor absorbs the attack without consequence. Otherwise, the target Model is injured for a number of hitpoints equal to the <i class="fas fa-fw fa-droplet"></i> Damage property of the attacking weapon.

An unmodified roll of 1 is always a failed save, regardless of any modifiers.

### Benefit of Cover

[Some terrain rules](/rules/terrain) and other effects provide a Benefit of Cover to units taking attacks. Units with the Benefit of Cover have +1 to their Saving roll.

### Invulnerable Save

If the target Model has an <i class="fas fa-fw fa-shield-plus"></i> Invulnerable Save property, an unmodified Saving roll greater than or equal to the Invulnerable Save property is always a success, and the attack sequence ends.

## Apply Damage

Apply the resulting damage to the Model selected in the saving Roll step.

If the Model is now at zero (or less) Health, the Model is now Dead. Tip the Model over onto its side (or use a token marker) to indicate that it is Dead, but do not remove it from the Battlefield yet. Narratively, all Activations occur at about the same moment of time, so the Model can still move, shoot, cast magik, charge and fight until the end of the Battle Round.

## Weapon Keywords

See [Weapon Keywords](/rules/weapon_keywords) for a reference of keywords that modify the combat process.

# Strategems

Strategems are activated abilities that can be used to change the tide of battle. Activating a Strategem costs Command Points, or "CP" for short. Both players start the battle with a balance of 0 CP

All Factions and Detachments have access to the global [Strategems](/rules/strategems). Additional Strategems are listed in Detachment rules; these are accessible only to armies using that specific Detachment.

</div>

{% endfilter %}
{% endblock %}
