{% extends "_core_centered.html" %}

{% block pagecontent %}
{% filter markdown %}

# Core Rules

<div class="nested-numbered-list">


# Introduction

AltHammer is a turn-based activation tabletop wargaming experience. It is intended to be played with your existing collection of wargaming models.

# General Rules

## Priority

In the event of inconsistency between two sources of rules, use the rule that is found in the earliest location in this list:

* Unit rules card
* Detachment Rules
* Faction Rules
* Core Rules

# Definitions

See [Definitions](/core_rules/definitions)

# Order of Play

## Determine Points Limit

Together with your opponent, agree on a points limit for the game of at least 500 points or higher. Suggested limits:

* Small: 500 points
* Medium: 1000 points
* Large: 2000 points
* Epic: 3000+ points

Additionally, if both players agree to it, the Sideboard optional rule may be enabled.

## Select Faction and Detachment

Select your army Faction and Detachment.

You do not have to reveal your selections to your opponent, but if your opponent reveals their selections to you, it would be unsportsmanlike to not reciprocate.

## Muster Army

Assemble a collection of Units in your chosen Faction, up to the agreed points limit.

All Units must have the Faction Keyword matching your chosen Faction. All units must satisfy any additional restrictions established by your chosen Detachment.

You must include at least one +Character+ model in your mustered army.

You may not include more than three copies of the same Unit, or more than six copies of a +Front Lines+ Unit, in your mustered army. 

Select one +Character+ Model as your army's +Warlord+.

## Set Up Battlefield

Set up a tabletop battlefield according to the agreed upon points limit:

* 500-1999 points: 44" x 60"
* 2000+ points: 44" x 90"

Add terrain features in a mutually agreeable manner. Overall terrain layout should be either reflectively or rotationally symmetric.

## Reveal Armies

Reveal your chosen Faction, Detachment, and mustered Units to the opposing player. Identify which Model is your +Warlord+.

## Sideboard Option

The Sideboard Option may be enabled by mutual agreement between players during the Determine Points Limit step. If any player declines the Sideboard Option, it is not enabled.

If the Sideboard Option is enabled:

* During the Muster Army step, assemble a collection of Units up to 500 points *above* the agreed points limit instead.

* After the Reveal Army step, Roll Off. Players alternate selecting and removing Units from their mustered army, until their remaining army is at or below the agreed points limit, beginning with the player who lost the Roll Off.

# Activation

When Activated, a Unit may do up to two of the following actions:

* Move
* Advance
* Magik (+Psychic+ Units only)
* Shoot
* Charge
* Fight

A unit may not Magik, Shoot, or Charge in an Activation in which it also Advances.

A unit may not be Activated two turns in a row, unless it is the last remaining Unit in the army.

## Move

Each Model in the Unit may move up to the number of inches indicated by its Movement characteristic. 

Units must end their movement in Unit Coherency.

## Advance

For the duration of the Activation, the Unit's Move characteristic is increased by 1d6 inches.

## Magik

Only +Psychic+ Models may perform this action.

Select a spell from your Detachment rules.

For each Model in the Unit, make a Psychic test. Roll 2d6 and add the Model's Mind characteristic; if the result is greater than the spell's Difficulty, then the spell is successful. Resolve the effects of the spell.

If the result of the Psychic test was an unmodified 2 or unmodified 12, then the Model suffers Perils of Power: The Model's unit suffers d3 Mortal Damage. (For an unmodified 12, the spell is still successful; resolve its effects first.)

All +Psychic+ Models know the spell Smite:

> Smite (Difficulty: 6)
> 
> Select a target. It suffers d6 Mortal Damage. The Difficulty of this spell increases by 1 for your army.


## Shoot

Select a target. If it is in range, roll dice

## one.three

# two

# three

## three.one


</div>

{% endfilter %}
{% endblock %}