{% extends "_core_centered.html" %}

{% block pagecontent %}
{% filter markdown %}

# Definitions

<div class="nested-numbered-list">


# Model

A single painted figurine.

# Mortal Damage

Damage inflicted to a Model which bypasses any armor saving roll.

# Roll Off

Both players roll a d6. The player who rolled higher wins the Roll Off. The player who rolled lower loses the Roll Off. If the result was a tie, both players roll again.

# Unit

A group of one or more Models which function as a team. Each Unit deployed to the battlefield must have a corresponding rules card.

# Unit Coherency

A description of whether or not the Models in a Unit are sufficiently close together.

To be considered "in Unit Coherency", each Model must be no more than 2" away from another Model in the Unit, and the unit may not be separated into two or more clusters of Models.

If the Unit has six or more Models, each Model must be no more than 2" from two other Models in the Unit, and the unit may not be separated into two or more clusters of Models.

Units must end all movement in Unit coherency.

At any point in the game, if a Unit is found to *not* be in Unit Coherency, the player controlling that unit must remove Models from the Unit until Unit Coherency is achieved. When removing Models to achieve Unit Coherency, do not activate On Death rules for the removed Models.

# Unmodified (dice roll)

Numerous effects modify the results of dice rolls. An "Unmodified" roll refers to the raw dice results, before any such alterations are made.

</div>

{% endfilter %}
{% endblock %}