{% extends "_core_centered.html" %}

{% block pagecontent %}
<h1>Definitions</h1>
{% filter numbered_markdown %}

# Destroyed

A destroyed Model is one that is at zero (or less) Health.

When a model is destroyed, immediately resolve its on-death effect (if any), and remove it from the Battlefield.

A destroyed model with a delayed on-death effect or other post-mortem effect may be tipped on its side to indicate that it still has an impact on the game state despite having died.

Destroyed Models cannot be healed.

Do not physically destroy models.

# Battle-Shock Test

Roll 2d6.

If the result is equal to or greater than the best Leadership trait in the unit, the test is passed.

If the result is less than the best Leadership trait in the unit, the test is failed and the unit becomes Battle-Shocked.

# Half Strength

For single-Model Units, a Unit whose lone Model is at or below half its starting Health, rounded down.

For multiple-Model Units, a Unit with half or fewer its starting quantity of Models, rounded down.

# Model

A single painted figurine.

# Mortal Damage

Damage inflicted to a Model which bypasses any armor saving roll.

# Psychic Test

Roll 2d6. Modify the result by the unit's Psychic Power trait. All Psychic Tests are subject to [Perils of Power](/rules/core_rules#perils_of_power).

# Remove (Model)

Removal of a Model from the Battlefield. The model is considered deceased, however, its "On Death" rules do not activate.

# Roll Off

Both players roll a d6. The player who rolled higher wins the Roll Off. The player who rolled lower loses the Roll Off. If the result was a tie, both players roll again.

# Starting Strength

For single-Model Units, a Unit whose lone Model is at full Health.

For multiple-Model Units, a Unit that has its starting quantity of Models.

# Token

A single painted figurine which, for gameplay purposes, is not considered a "Model". Tokens are most commonly used to represent activation of limited abilities.

# Unit

A group of one or more Models which function as a cohesive team. Each Unit deployed to the battlefield must have a corresponding rules card.

# Unit Coherency

A description of whether or not the Models in a Unit are sufficiently close together.

To be considered "in Unit Coherency":

* Each model must be wholly within the boundaries of the Battlefield, and
* Each Model must be within 2" of one other Model in the Unit (or two other Models in the Unit, for Units with six or more Models), and
* The Unit may not be separated into two or more clusters of Models with a gap greater than 2"

# Unmodified (dice roll)

Numerous effects modify the results of dice rolls. An "Unmodified" roll refers to the raw dice results, before any such alterations are made.

{% endfilter %}
{% endblock %}