{% extends "_core_centered.html" %}

{% block pagecontent %}
<h1>Definitions</h1>
{% filter numbered_markdown %}


<div class="nested-numbered-list">

# Dead

A Dead Model is one that is at zero (or less) Health.

When a model Dies, immediately resolve its On Death effect (if any), and tip it on its side or use a marker token to indicate that it is Dead.

Dead Models continue to fight for the remainder of the Battle Round. 

Dead Models cannot be healed.

# Half Strength

For single-Model Units, a Unit whose lone Model is at or below half its starting Health, rounded down.

For multiple-Model Units, a Unit with half or fewer its starting quantity of Models, rounded down.

# Model

A single painted figurine.

# Mortal Damage

Damage inflicted to a Model which bypasses any armor saving roll.

# Remove (Model)

Removal of a Model from the Battlefield. The model is considered deceased, however, its "On Death" rules do not activate.

# Roll Off

Both players roll a d6. The player who rolled higher wins the Roll Off. The player who rolled lower loses the Roll Off. If the result was a tie, both players roll again.

# Starting Strength

For single-Model Units, a Unit whose lone Model is at full Health.

For multiple-Model Units, a Unit that has its starting quantity of Models.

# Unit

A group of one or more Models which function as a cohesive team. Each Unit deployed to the battlefield must have a corresponding rules card.

# Unit Coherency

A description of whether or not the Models in a Unit are sufficiently close together.

To be considered "in Unit Coherency":

* Each model must be wholly within the boundaries of the Battlefield, and
* Each Model must be within 2" of one other Model in the Unit (or two other Models in the Unit, for Units with six or more Models), and
* The Unit may not be separated into two or more clusters of Models with a gap greater than 2"

Units must end all movement - no matter the reason for the movement - in Unit Coherency. At the start of the game, Units must be deployed in Unit Coherency as well.

At any point in the game (except during a Unit's movement), if a Unit is found to *not* be in Unit Coherency, the player controlling that unit must immediately Remove Models from the Unit until Unit Coherency is achieved. When removing Models to achieve Unit Coherency, do not activate On Death rules for the removed Models.

# Unmodified (dice roll)

Numerous effects modify the results of dice rolls. An "Unmodified" roll refers to the raw dice results, before any such alterations are made.

</div>

{% endfilter %}
{% endblock %}