{% extends "_core_centered.html" %}

{% block pagecontent %}

<h1>Keyword Reference</h1>

{% set data = (0|all_keywords) %}

{% filter numbered_markdown %}

# Unit Keywords

{% for entry in data['unit_keywords'].keys()|sort %}

## <span class="keyword">{{ entry }}</span>

{{ data['unit_keywords'][entry] }}

{% endfor %}

# Weapon Keywords

{% for entry in data['weapon_keywords'].keys()|sort %}

## <span class="keyword">{{ entry }}</span>

{{ data['weapon_keywords'][entry] }}

{% endfor %}

{% endfilter %}
{% endblock %}
