{% extends "_core_centered.html" %}

{% block pagecontent %}
<h1>Keyword Rules</h1>

{% filter numbered_markdown %}


<div class="nested-numbered-list">

# Feel No Pain X+

When this model or unit would take damage, roll a d6 for each point of damage assigned. For each unmodified result of "X" or greater, reduce the assigned damage by 1.

# Deadly Demise X

When this model is destroyed, roll d6. On an unmodified 6, every unit within 6" of the destroyed model suffers "X" Mortal Damage

# Deep Strike

When deployed from Reserves, this unit may be placed anywhere on the battlefield that is at least 9" away from all enemy models.

# Entourage

When mustering your army, only the primary model in this unit costs points. The secondary models are free.

# Infiltrators

If every model in a unit has the +Infiltrators+ ability, then at the start of the game, the unit may be deployed anywhere on the Battlefield, at least 9" from any enemy model.

# Leader [Keyword]

During the [Reveal Armies and Formations](/rules/core_rules#reveal_armies_and_formations) step, attach this unit to an +Infantry+ or +Battleline+ unit that is not a +Character+ or +Epic Hero+. The unit must additionally have the specified keyword.

The leading unit gains the +Leader+ keyword, and the models in the unit to which it attached gain the +Bodyguard+ keyword.

For the rest of the battle, this combined force shall be treated as a single unit with a starting strength of the combined model count.

If either the +Leader+ or all +Bodyguard+ models are destroyed, the remaining models lose the +Leader+ or +Bodyguard+ keywords, and make their determination of starting strength based on the original uncombined unit's model count.

There is a limitation of one +Leader+ model per +Bodyguard+ unit, unless otherwise permitted by unit data cards.

# Lone Operative

Unless part of an attached unit, this unit cannot be selected as the target of a ranged attack from over 12" away.

# Scouts X"

At the start of the first Battle Round, if every model in the unit has this ability, this unit may be moved up to "X" inches.

# Second in Command

This unit may be attached as a second +Leader+ to a unit that already has a +Leader+, provided that the other +Leader+ is not also a +Second in Command+ model.

All other +Leader+ rules and restrictions apply.

If all +Bodyguard+ models are destroyed, both +Leader+ models become independent units again.

# Secure Objectives

Objective markers controlled by this unit remain under your control, even if you have no models within range of it, unless and until your opponent controls it at any scoring phase.

# Stealth

If every model in a unit has the +Stealth+ ability, then all ranged attacks made against the unit have -1 to hit.

</div>

{% endfilter %}
{% endblock %}