{% extends "_core_centered.html" %}

{% block pagecontent %}
<h1>Keyword Rules</h1>
{% filter numbered_markdown %}


<div class="nested-numbered-list">

# Feel No Pain X+

When this model or unit would take damage, roll a d6 for each point of damage assigned. For each unmodified result of "X" or greater, reduce the assigned damage by 1.

# Leader

During the [Reveal Armies and Formations](/rules/core_rules#reveal_armies_and_formations) step, attach this unit to an +Infantry+ or +Battleline+ unit that is not a +Character+ or +Epic Hero+.

The leading unit gainst the +Leader+ keyword, and the unit to which it attached gains the +Bodyguard+ keyword.

For the rest of the battle, this combined force shall be treated as a single unit with a starting strength of the combined model count.

If either the +Leader+ or all +Bodyguard+ models are destroyed, the remaining models lose the +Leader+ or +Bodyguard+ keywords, and make their determination of starting strength based on the original uncombined unit's model count.

There is a limitation of one +Leader+ model per +Bodyguard+ unit, unless otherwise permitted by unit data cards.

# Mortal Damage

Mortal Damage is damage that cannot be mitigated with an Armor Save or Invulnerable Save.

Mortal Damage may be mitigated with [Feel No Pain](#feel_no_pain)

</div>

{% endfilter %}
{% endblock %}