{% extends "_core_centered.html" %}

{% block pagecontent %}

<h1>Layouts</h1>

{% filter numbered_markdown %}

# Full Size (44" x 72")

Roll d6 to select a deployment layout.

## Hammer of War

![](/assets/images/layouts/layout-full-1.png)

## Sweeping Deployment

![](/assets/images/layouts/layout-full-2.png)

## Dawn of Battle

![](/assets/images/layouts/layout-full-3.png)

## Crucible of Conflict

![](/assets/images/layouts/layout-full-4.png)

## Search and Destroy

![](/assets/images/layouts/layout-full-5.png)

## Concentrated Engagement

![](/assets/images/layouts/layout-full-6.png)

{% endfilter %}
{% endblock %}