{% extends "_core_centered.html" %}

{% block pagecontent %}
{% filter numbered_markdown %}

<h1>Strategems</h1>

<div class="nested-numbered-list">

All factions and Detachments may use the following Strategems. The Command Point cost of a Strategem is indicated in brackets next to its name.

# Command Re-Roll

> **[1] Command Re-Roll**
>
> When: Immediately after making a Hit roll, Wound roll, Save roll, Battle-shock test, Psychic test, or when rolling to determine the number of attacks or amount of damage in a weapon profile
>
> Target: The friendly Unit or Model making that roll.
>
> Effect: Reroll that roll. For rolls of more than one die (Battle-Shock and Psychic tests), all dice must be rerolled.

# Desperate Breakout

> **[1] Command Re-Roll**
>
> When: Your unit Activation
>
> Target: An Activated friendly unit that is Falling Back.
>
> Effect: Until the end of the movement, the friendly unit may move through enemy models. Each model that moves through an enemy model suffers 1 Mortal Damage. After moving, take a Battle-Shock test, subtracting the number of models that moved through an enemy model from the result.

# Insane Bravery

> **[1] Insane Bravery**
>
> When: Immediately after failing a Battle-Shock test
>
> Target: The friendly Unit that test was taken for (even though Battle-Shocked units cannot normally be affected by Strategems)
>
> Effect: Your Unit is treated as having passed the Battle-Shock test instead.

# Overwatch

> **[1] Overwatch**
>
> When: Immediately after an enemy Unit Moves, Charges, or is deployed from Reserves
>
> Target: A friendly Unit.
>
> Effect: Your Unit may perform a Shoot action, targeting the enemy Unit that just Moved.

# Hit the Ground

> **[1] Hit the Ground**
>
> When: Immediately after an enemy Unit declares a Shoot action.
>
> Target: A friendly +Infantry+ Unit that was declared as the target of that Shoot action.
>
> Effect: All Models in that Unit have a 6++ Invulnerable Save and the Benefit of Cover. This lasts until the end of the Battle Round, or until the Unit performs a Move or Charge action, whichever occurs first.

</div>

{% endfilter %}
{% endblock %}