{% extends "_core_centered.html" %}

{% block pagecontent %}
{% filter markdown %}

# Terrain

<div class="nested-numbered-list">

# Defense Line (ex. pipes, trenches, temporary fortifications)

* Can be traversed
* Can be stood upon
* Does not obstruct visibility

# Hill (ex. building roof)

* Can be climbed (with vertical movement) and freely traversed
* Can be stood upon
* Obstructs visibility

# Impassible Space (ex. lava, ponds, rivers, void space)

* Cannot be traversed unless Model has +Fly+
* Cannot be stood upon unless Model has +Fly+
* Does not obstruct visibility

# Walls, Solid (ex. vehicle wreckage, solid walls, statues)

* Can be climbed
* Cannot be stood upon
* Obstructs visbility

# Walls, Windowed (ex. ruined walls, dense brush)

* Can be climbed
* Cannot be stood upon
* Does not obstruct visibility
* Units with one or more models touching the terrain feature have the Benefit of Cover against ranged attacks made through the terrain feature

</div>

{% endfilter %}
{% endblock %}