{% extends "_core_centered.html" %}

{% block pagecontent %}

<h1>Terrain</h1>

{% filter numbered_markdown %}

# Defense Line

Pipes, trenches, sandbag lines, temporary fortifications

* Can be traversed
* Can be stood upon
* Does not break line of sight
* Units with one or more models touching the terrain feature have the Benefit of Cover against ranged attacks made through the terrain feature

# Platform

Building roof, platforms, all 2nd-story floors

* Can be climbed (with vertical movement) and freely traversed
* Can be stood upon
* Does not break line of sight unless joined to Walls
* Models standing on a Platform have +1 to the hit roll when attacking models at lower elevation.

# Impassible Space

Lava, ponds, rivers, void space

* Cannot be traversed unless Model has +Fly+
* Cannot be stood upon unless Model has +Fly+
* Does not break line of sight

# Walls, Solid

Vehicle wreckage, solid walls, statues

* Can be climbed
* Cannot be stood upon
* Breaks line of sight, unless either model has +Towering+ or +Fly+

# Walls, Windowed

Ruined walls, dense brush

* Can be climbed
* Cannot be stood upon
* Does not break line of sight
* Units with one or more models touching the terrain feature have the Benefit of Cover against ranged attacks made through the terrain feature

{% endfilter %}
{% endblock %}