{% extends "_core_centered.html" %}

{% block pagecontent %}
{% filter markdown %}

# Weapon Reference

<div class="nested-numbered-list">

<span class="keyword">Anti-Keyword-X+</span> - When making at attack against an enemy Unit with the specified +Keyword+, an unmodified Wound roll of "X" or higher is considered a Critical Wound, and is successful.

+Blast+ - For every five Models in the target Unit, rounded down, increase the number of attacks by 1.

+Devestating Wounds+ - Critical Wounds automatically penetrate armor. The opponent may not roll an Armor Save. Instead, treat the attack as if the Armor Save Roll failed.

+Hazardous+ - On an unmodified Hit roll of 1, the attacking Unit takes 1 Mortal Damage.

+Lethal Hits+ - Critical Hits automatically successfully Wound the target. Do not make a Wound Roll. Instead, treat the attack as if the Wound Roll is successful.

+Precise+ - Before making Hit rolls, select a +Leader+ model which is attached to the target Unit, and which is within range of, and visible to, the attacking Models. The opposing player must select that Model during the Saving Throw step.

+Rapid Fire+ - If the target Unit is within half range, make double the the number of attacks.

+Torrent+ - Do not make a Hit Roll for this weapon. Instead, treat the attack as if the Hit roll succeeded.

+Twin-Linked+ - Failed Wound Rolls may be re-rolled.

</div>

{% endfilter %}
{% endblock %}