{% extends "_core_centered.html" %}

{% block pagecontent %}
{% filter markdown %}

# Weapon Reference

<div class="nested-numbered-list">

<span class="keyword">Anti-Keyword X+</span> - When making at attack against an enemy unit with the specified +Keyword+, an unmodified Wound roll of "X" or higher is considered a Critical Wound, and is successful.

+Assault+ - This weapon may be used to make a Shoot action after having made an Advance movement, with -1 to Hit.

+Blast+ - For every five Models in the target unit, rounded down, increase the number of attacks by 1.

+Devestating Wounds+ - Critical Wounds automatically penetrate armor. The opponent may not roll an Armor Save. Instead, treat the attack as if the Armor Save Roll failed.

+Hazardous+ - On an unmodified Hit roll of 1, the attacking unit takes 1 Mortal Damage.

+Heavy+ - Attacks made with the weapon have +1 to the Hit roll if the unit does not move during its Activation.

+Ignores Cover+ - Attacks do not require line of sight to the target, however, targets have Benefit of Cover against attacks made without line of sight.

+Lethal Hits+ - Critical Hits automatically successfully Wound the target. Do not make a Wound Roll. Instead, treat the attack as if the Wound Roll is successful.

+Precise+ - Before making Hit rolls, select a +Leader+ model which is attached to the target unit, and which is within range of, and visible to, the attacking Models. The opposing player must select that Model during the Saving Throw step.

+Rapid Fire+ - If the target unit is within half range, make double the the number of attacks.

+Sustained Hits X+ - Critical Hits trigger an extra "X" number of attacks. Do not make a Hit Roll for these additional attacks. Instead, treat the additional attacks as if the Hit roll already succeeded.

+Torrent+ - Do not make a Hit Roll for this weapon. Instead, treat the attack as if the Hit roll succeeded.

+Twin-Linked+ - Failed Wound Rolls may be re-rolled.

</div>

{% endfilter %}
{% endblock %}