<div class="px-2 px-sm-0">
  <p id="row_hide_container">
    <a id="rows_hide_button" class="btn btn-white border border-rounded{% if session.get('hide_rows',0) %} d-none{% endif %}" role="button"><i class="fas fa-fw fa-eye"></i></a>
    <a id="rows_show_button" class="btn btn-white border border-rounded{% if not session.get('hide_rows',0) %} d-none{% endif %}" role="button"><i class="fas fa-fw fa-eye-slash"></i></a>
  </p>  
</div>

{% set ns=namespace(total=0) %}

<table id="faction-units" class="table table-faction">
  <tr></tr>
  {% for role in unit_listing if unit_listing[role] %}
  <thead id="header_{{ role | snake }}" class="unit-cat sticky-top{% if unit_listing|hide_cat(f, role) %} d-none{% endif %}" data-cat="{{ role | snake }}">
    <tr>
      <th scope="col">{{ role }}</th>
      <th scope="col" class="text-center"><span type="button" class="text-nowrap" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-trigger="click hover focus" data-bs-content="Points cost per model"><i class="fas fa-fw fa-tag"></i></span></th>
      <th scope="col" class="text-center"><span type="button" class="text-nowrap" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-trigger="click hover focus" data-bs-content="Number of models in army list"><i class="fas fa-fw fa-hashtag"></i></span></th>
      <th scope="col" class="text-center"><span type="button" class="text-nowrap" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-trigger="click hover focus" data-bs-content="Row points total"><i class="fas fa-fw fa-sigma"></i></span></th>
    </tr>
  </thead>
  {% for unit in unit_listing[role] %}
  {% set ns.total = ns.total + (session.get('qty_'+unit.faction.id+'_'+unit.id, 0) | int )*unit.ppm %}
  <tr id="unit_row_{{ unit.id }}" class="unit-row unit_cat_{{ role | snake }}{% if session.get('hide_rows') and not session.get('qty_'+unit.faction.id+'_'+unit.id, 0) %} d-none{% endif %}">
    <td class="align-middle">
      {% if d %}
      <a href="{{ d.permalink }}/unit/{{ unit.id }}">{{ unit.display_name }}</a>
      {% else %}
      <a href="{{ unit.permalink }}">{{ unit.display_name }}</a>
      {% endif %}
    </td>
    <td class="text-center align-middle">{{ unit.ppm }}</td>
    <td class="text-center align-middle">
      <form id="form_qty_{{ unit.faction.id }}_{{ unit.id }}" method="post" action="/armylist" class="no-submit m-0">
        <input type="hidden" name="csrf_token" value="{{ g.csrf_token }}">
        <input type="hidden" name="faction" value="{{ unit.faction.id }}">
        <input type="hidden" name="unit_id" value="{{ unit.id }}">
        <input id="qty_{{ unit.id }}" type="number" class="form-control list-qty mx-auto" min="0" data-min="{{ unit.min_models }}" max="{{ unit.max_models }}" data-max="{{ unit.max_models }}" data-unit-id="{{ unit.id }}" data-form="form_qty_{{ unit.faction.id }}_{{ unit.id }}" placeholder="{{ (unit.min_models|str) +' - '+ (unit.max_models|str) if unit.max_models>1 else 'Max 1'}}" value="{{ session.get('qty_'+unit.faction.id+'_'+unit.id,'') }}" name="qty">
        <input id="ppm_{{ unit.id }}" type="hidden" class="form-control disabled" disabled value="{{ unit.ppm or '' }}">
      </form>
    </td>
    <td class="text-center align-middle"><span id="total_{{ unit.id }}" class="total_{{ unit.id }}">{{ (session.get('qty_'+unit.faction.id+'_'+unit.id, 0) | int)*unit.ppm }}</span><input type="hidden" id="row_total_{{ unit.id }}" class="row_totals" value="{{(session.get('qty_'+unit.faction.id+'_'+unit.id,0)|int)*unit.ppm}}"></td>
  </tr>
  {% endfor %}
  {% else %}

  
  <thead>
    <tr>
      <td scope="col">None yet. Stay tuned!</td>
      <td scope="col"></td>
      <td scope="col"></td>
      <td scope="col"></td>
    </tr>
  </thead>
  {% endfor %}

  {% if d and d.upgrades %}
  <thead id="header_upgrades" class="unit-cat sticky-top{% if unit_listing|hide_cat(f, 'Upgrades') %} d-none{% endif %}" data-cat="upgrades">
    <tr>
      <th scope="col">Army Upgrades</th>
      <th scope="col" class="text-center"><span type="button" class="text-nowrap" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-trigger="click hover focus" data-bs-content="Points cost for upgrade"><i class="fas fa-fw fa-tag"></i></span></th>
      <th scope="col" class="text-center"><span type="button" class="text-nowrap" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-trigger="click hover focus" data-bs-content="Number of upgrades purchased"><i class="fas fa-fw fa-hashtag"></i></span></th>
      <th scope="col" class="text-center"><span type="button" class="text-nowrap" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-trigger="click hover focus" data-bs-content="Row points total"><i class="fas fa-fw fa-sigma"></i></span></th>
    </tr>
  </thead>
  {% for upgrade in d.upgrades %}
  {% set ns.total = ns.total + (session.get('qty_'+upgrade.faction.id+'_'+upgrade.id, 0) | int )*upgrade.cost %}
    <tr id="unit_row_{{ upgrade.name | snake }}" class="unit-row unit_cat_upgrades{% if session.get('hide_rows') and not session.get('qty_'+upgrade.faction.id+'_'+upgrade.id, 0) %} d-none{% endif %}">
    <td class="align-middle">
      <p class="mb-0"><b>{{ upgrade.name }}</b></p>
      {{ upgrade.text | markdown | safe }}
    </td>
    <td class="text-center align-middle">{{ upgrade.cost }}</td>
    <td class="text-center align-middle">
      <form id="form_qty_{{ upgrade.faction.id }}_{{ upgrade.id }}" method="post" action="/armylist" class="no-submit m-0">
        <input type="hidden" name="csrf_token" value="{{ g.csrf_token }}">
        <input type="hidden" name="faction" value="{{ upgrade.faction.id }}">
        <input type="hidden" name="unit_id" value="{{ upgrade.id }}">
        <input id="qty_{{ upgrade.id }}" type="number" class="form-control list-qty mx-auto" min="0" data-min="1" max="1" data-max="1" data-unit-id="{{ upgrade.name | snake }}" data-form="form_qty_{{ upgrade.faction.id }}_{{ upgrade.id }}" placeholder="Max 1" value="{{ session.get('qty_'+upgrade.faction.id+'_'+upgrade.id,'') }}" name="qty">
        <input id="ppm_{{ upgrade.id }}" type="hidden" value="{{ upgrade.cost }}">
      </form>
    </td>
    <td class="text-center align-middle"><span id="total_{{ upgrade.id }}" class="total_{{ upgrade.id }}">{{ (session.get('qty_'+upgrade.faction.id+'_'+upgrade.id, 0) | int)*upgrade.cost }}</span><input type="hidden" id="row_total_{{ upgrade.id }}" class="row_totals" value="{{(session.get('qty_'+upgrade.faction.id+'_'+upgrade.id,0)|int)*upgrade.cost}}"></td>
  </tr>
  {% endfor %}
  {% endif %}

  <thead>
    <tr>
      <th>Total</th>
      <th></th>
      <th></th>
      <th class="text-center"><span id="points-total">{{ ns.total }}</span></th>
    </tr>
  </thead>
</table>
