.keyword,
.keyword-group,
.keyword-popover .popover-header {
    font-variant: small-caps;
    font-weight: bold;
}

.small-caps {
    font-variant: small-caps;
}

.splash-1 {
    background-image: url(/assets/images/splash/cover1.jpg);
    background-size: 100%;
    height:100%;
    width: 100%;
    position: absolute;
    opacity: 0.3;
    background-position: center;
}

/*Fonts*/
$small-font-size: 12px;

.text-small {
    font-size: $small-font-size!important;
}

.card-body {
    z-index:10;
}

/*Input overlay icon label for donate page*/
.input-overlay-icon {
    margin-left: -2em;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    margin-top: auto !important;
    margin-bottom: auto !important;
    background-color: $white;
}

/*Toast positioning*/

.toast {
    position: fixed;
    bottom: 1.5rem;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 275px;
    z-index: 10000;
}

/*Avoid pagebreak class*/
.avoid-pagebreak {
    page-break-inside: avoid;
}

/*invert colors on dark mode hover*/
#dark-mode-toggle:hover {
    background: $black;
    color: $white;
}

/* Nested Numbering */
.nested-numbered-list {
    counter-reset: h1 h2 h3 h4 h5 h6;
}
.nested-numbered-list h1:not(.card) {counter-set: h2}
.nested-numbered-list h2:not(.card) {counter-set: h3}
.nested-numbered-list h3:not(.card) {counter-set: h4}
.nested-numbered-list h4:not(.card) {counter-set: h5}
.nested-numbered-list h5:not(.card) {counter-set: h6}


.nested-numbered-list h1:not(.card),
.nested-numbered-list h2:not(.card),
.nested-numbered-list h3:not(.card),
.nested-numbered-list h4:not(.card),
.nested-numbered-list h5:not(.card),
.nested-numbered-list h6:not(.card) { 
    display: block;
    font-size: 1rem;
    font-weight: bold;
}

.nested-numbered-list h1 :not(.card) :before {
    content: counter(h1) " ";
    counter-increment: h1
}
.nested-numbered-list h2:not(.card):before {
    content: counter(h1) "." counter(h2) " ";
    counter-increment: h2
    }
.nested-numbered-list h3:not(.card):before {
    content: counter(h1) "." counter(h2) "." counter(h3) " ";
    counter-increment: h3
    }
.nested-numbered-list h4:not(.card):before {
    content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) " ";
    counter-increment: h4
    }
.nested-numbered-list h5:not(.card):before {
    content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) " ";
    counter-increment: h5
    }
.nested-numbered-list h6:not(.card):before {
    content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "." counter(h6) " ";
    counter-increment: h6
    }

.nested-numbered-list .h-block { margin-left: 15px }

.nested-numbered-list h1:not(.card):hover::after,
.nested-numbered-list h2:not(.card):hover::after,
.nested-numbered-list h3:not(.card):hover::after,
.nested-numbered-list h4:not(.card):hover::after,
.nested-numbered-list h5:not(.card):hover::after,
.nested-numbered-list h6:not(.card):hover::after {
    content: " click to copy";
    font-size: $small-font-size;
    color: lightgray;
}

.nested-numbered-list h1:not(.card),
.nested-numbered-list h2:not(.card),
.nested-numbered-list h3:not(.card),
.nested-numbered-list h4:not(.card),
.nested-numbered-list h5:not(.card),
.nested-numbered-list h6:not(.card) {
    cursor: pointer;
}


/*blockquotes*/

blockquote {
    border-left: 2px solid grey;
    padding-left: 0.5rem;
    margin: 0 1rem 1rem 1rem;
}

/*Table formatting*/

.backside ul > li > ul {
    padding-bottom: 1rem;
}

/*Faction unit list */

#faction-units input.form-control {
    min-width: 100px;
}
table.table-faction input.form-control {
    width: 65px;
}


#row_hide_container:hover::after {
    content: "toggle hiding unused rows";
    font-size: $small-font-size;
    color: lightgray;
    font-weight: bold;
}

span.fa-stack.fa-stack-inline {
    font-size: 0.5em;
}
.fa-stack-inline .fa-stack-1x,
.fa-stack-inline .fa-stack-2x {
    vertical-align: middle;
}
