.keyword {
    font-variant: small-caps;
    font-weight: bold;
}

.splash-1 {
    background-image: url(/assets/images/splash/cover1.jpg);
    background-size: 100%;
    height:100%;
    width: 100%;
    position: absolute;
    opacity: 0.3;
    background-position: center;
}

/*Fonts*/
$small-font-size: 12px;

.text-small {
    font-size: $small-font-size!important;
}

.card-body {
    z-index:10;
}

/*Input overlay icon label for donate page*/
.input-overlay-icon {
    margin-left: -2em;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    margin-top: auto !important;
    margin-bottom: auto !important;
    background-color: $white;
}

/*Toast positioning*/

.toast {
    position: fixed;
    bottom: 1.5rem;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 275px;
    z-index: 10000;
}

/*Avoid pagebreak class*/
.avoid-pagebreak {
    page-break-inside: avoid;
}

/*invert colors on dark mode hover*/
#dark-mode-toggle:hover {
    background: $black;
    color: $white;
}

/* Nested Numbering */
.nested-numbered-list {
    counter-reset: h1 h2 h3 h4 h5 h6;
}
.nested-numbered-list h1 {counter-reset: h2}
.nested-numbered-list h2 {counter-reset: h3}
.nested-numbered-list h3 {counter-reset: h4}
.nested-numbered-list h4 {counter-reset: h5}
.nested-numbered-list h5 {counter-reset: h6}


.nested-numbered-list h1,
.nested-numbered-list h2,
.nested-numbered-list h3,
.nested-numbered-list h4,
.nested-numbered-list h5,
.nested-numbered-list h6 { 
    display: block;
    font-size: 1.25rem;
}

.nested-numbered-list h1:before {
    content: counter(h1) " ";
    counter-increment: h1
}
.nested-numbered-list h2:before {
    content: counter(h1) "." counter(h2) " ";
    counter-increment: h2
    }
.nested-numbered-list h3:before {
    content: counter(h1) "." counter(h2) "." counter(h3) " ";
    counter-increment: h3
    }
.nested-numbered-list h4:before {
    content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) " ";
    counter-increment: h4
    }
.nested-numbered-list h5:before {
    content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) " ";
    counter-increment: h5
    }
.nested-numbered-list h6:before {
    content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "." counter(h6) " ";
    counter-increment: h6
    }


/*blockquotes*/

blockquote {
    border-left: 2px solid grey;
    padding-left: 0.5rem;
    margin: 0 1rem 1rem 1rem;
}