// Colors


$primary:     #{primary};
$secondary:   #{secondary};


$dark:        #ecf0f1;
$light:       #404040;
$black:       #ffffff;
$white:       #000000; 
$body-color:  #d4d9dd;

// Bootstrap and its default variables
@import "evidencelocker/assets/bootstrap/scss/bootstrap";
@import "evidencelocker/assets/style/core";

