// Colors
$primary:       #{primary};
$secondary:     #{secondary};
$black:         #000000;
$white:         #ffffff;


// Bootstrap and its default variables
@import "evidencelocker/assets/bootstrap/scss/bootstrap";
@import "evidencelocker/assets/style/core";

