<head>
  <link href="/assets/images/favicon.png" rel="icon">
  {% if session.get('darkmode') %}
    <link id="mainstyle" href="/assets/style/dark.css?v=0.0.1" rel="stylesheet">
  {% else %}
    <link id="mainstyle" href="/assets/style/light.css?v=0.0.1" rel="stylesheet">
  {% endif %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--FontAwesome-->
  <link href="/assets/fontawesome/css/all.min.css" rel="stylesheet">
  <meta name="description" content="{% block meta %}Tabletop Wargaming Done Right{% endblock %}">
</head>
<body>
  <nav class="navbar navbar-expand-md navbar-light px-2 px-md-5">
    <div class="container-fluid">
      <a class="navbar-brand text-primary" href="/">AltHammer</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item mx-md-2 dropdown">
            <a class="nav-link dropdown-toggle ps-0" href="#" id="faqDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Rules
            </a>
            <ul class="dropdown-menu mb-3" aria-labelledby="faqDropdown">
              <li><a class="dropdown-item" href="/rules/core_rules">Core Rules</a></li>
              <li><a class="dropdown-item" href="/rules/definitions">Definitions</a></li>
              <li><a class="dropdown-item" href="/rules/keyword_rules">Keyword Rules</a></li>
              <li><a class="dropdown-item" href="/rules/terrain">Terrain</a></li>
              <li><a class="dropdown-item" href="/rules/strategems">Strategems</a></li>
              <li><a class="dropdown-item" href="/rules/weapon_keywords">Weapon Keywords</a></li>
            </ul>
          </li>
          <li class="nav-item mx-md-2 dropdown">
            <a class="nav-link dropdown-toggle ps-0" href="#" id="faqDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Factions
            </a>
            <ul class="dropdown-menu mb-3" aria-labelledby="faqDropdown">
              {% for f in (0|get_factions) %}
              <li><a class="dropdown-item" href="{{ f.permalink }}">{{ f.name }}</a></li>
              {% endfor %}
            </ul>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="btn btn-white border border-rounded" role="button" id="dark-mode-toggle"><i class="fas fa-circle-half-stroke"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

        {% block content %}
        Content goes here
        {% endblock %}

  <div class="container">
    <footer class="py-3 my-4">
      {% block footer_text %}
      <ul class="nav justify-content-center border-top py-3 my-3 text-small">
        <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Home</a></li>
        <li class="nav-item"><a href="/help/faq" class="nav-link px-2 text-muted">FAQ</a></li>
        <li class="nav-item"><a href="/help/donate" class="nav-link px-2 text-muted">Donate</a></li>
      </ul>
      {% endblock %}
    </footer>
  </div>

  {% include "/elements/toasts.html" %}
  
  {% block modal %}{% endblock %}

  <!--JQuery, Bootstrap, and Popper JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>

  {% include "elements/clipboard.html" %}

  <!--Site js -->
  <script src="/assets/js/site.js?v=0.0.1"></script>

</body>