{% extends "_core_centered.html" %}

{% block pagecontent %}

<style>

    .nested-numbered-list {
        counter-reset: h1;
        counter-reset: h2;
        counter-reset: h3;
        counter-reset: h4;
        counter-reset: h5;
        counter-reset: h6;
    }
    .nested-numbered-list h1 {counter-reset: h2}
    .nested-numbered-list h2 {counter-reset: h3}
    .nested-numbered-list h3 {counter-reset: h4}
    .nested-numbered-list h4 {counter-reset: h5}
    .nested-numbered-list h5 {counter-reset: h6}


    .nested-numbered-list h1,
    .nested-numbered-list h2,
    .nested-numbered-list h3,
    .nested-numbered-list h4,
    .nested-numbered-list h5,
    .nested-numbered-list h6
    { display: block}

    .nested-numbered-list h1:before {
        content: counter(h1) " ";
        counter-increment: h1
    }
    .nested-numbered-list h2:before {
        content: counter(h1) "." counter(h2);
        counter-increment: h2
        }
    .nested-numbered-list h3:before {
        content: counter(h1) "." counter(h2) "." counter(h3);
        counter-increment: h3
        }
    .nested-numbered-list h4:before {
        content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4);
        counter-increment: h4
        }
    .nested-numbered-list h5:before {
        content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) "." counter(h5);
        counter-increment: h5
        }
    .nested-numbered-list h6:before {
        content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "." counter(h6);
        counter-increment: h6
        }

</style>

{% filter markdown %}

#Core Rules

<div class=".nested-numbered-list">

    # one

    ## one.one

    ## one.two

    ### one.two.one

    ### one.two.two

    ## one.three

    # two

    # three

    ## three.one


</div>

{% endfilter %}
{% endblock %}