{% extends "_core_centered.html" %}

{% block pagecontent %}

<div class="nested-numbered-list">
{% filter numbered_markdown %}

# {{ f.name }}

*{{f.lore}}*

{% for rule in f.rules %}
## {{ rule }}

{{ f.rules[rule] }}

{% endfor %}

## Detachment: {{ d.name }}

{% for rule in d.rules %}
### {{ rule['name'] }}

*{{ rule['lore'] }}*

{{ rule['text'] }}

{% for option in rule['options'] %}
#### {{ option['name'] }}

{% if option['lore'] %}*{{ option['lore'] }}*{% endif %}

{{ option['text'] }}

{% endfor %}

{% endfor %}

{% if d.__dict__.get('restrictions') %}

### Restrictions

{% for r in d['restrictions'] %}
* {{ r }}
{% endfor %}

{% endif %}

{% if d.__dict__.get('spells') %}

### Strategems

{% for strat in d.strategems %}
#### {{ strat['name'] }}

>**[{{ strat['cost'] }}] {{ strat['name'] }}**
>
>**When:** {{ strat['when'] }}
>
>**Target:** {{ strat['target'] }}
>
>**Effect:** {{ strat['effect'] }}
{% if strat.get('restrictions') %}
>
> **Restrictions: * {{ strat['restrictions'] }}
{% endif %}
{% endfor %}

### Spells

{% for spell in d.spells %}
#### {{ spell['name'] }}

>**[{{ spell['difficulty'] }}] {{ spell['name'] }}**
>
>{{ spell['effect'] }}

{% endfor %}
{% endif %}

{% endfilter %}
</div>
{% endblock %}