{% extends "_core_centered.html" %}

{% block pagecontent %}
{% filter markdown %}
# [{{ f.name }}]({{ f.permalink }})

{{f.lore}}

{% for rule in f.rules %}
## {{ rule }}

{{ f.rules[rule] }}

{% endfor %}

## Detachment: {{ d.name }}

{% for rule in d.rules %}
### {{ d.rules[rule]['name'] }}

*{{ d.rules[rule]['lore'] }}*

{{ d.rules[rule]['text'] }}

**Restrictions:** {{ d.rules[rule].get("restrictions", "None") }}

{% for option in d.rules[rule]['options'] %}
#### {{ option['name'] }}

*{{ option['lore'] }}*

{{ option['text'] }}

{% endfor %}

{% endfor %}

{% if d.get('spells') %}

{% for spell in d.spells %}
>[{{ spell['difficulty'] }}] {{ spell['name'] }}
>
>{{ spell['effect'] }}

{% endfor %}
{% endif %}

{% endfilter %}
{% endblock %}