{% extends "_core_centered.html" %}

{% block title %}
<title>{{ d.name }}</title>
<link id="mainstyle" href="/assets/style/faction/{{ d.color }}.css" rel="stylesheet">
{% endblock %}

{% block pagecontent %}
<div class="px-2 px-sm-0">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item"><a href="{{ f.permalink }}">{{ f.name }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ d.name }}</li>
    </ol>
  </nav>


  <h1 class="small-caps">{{ f.name }}</h1>
  <h2 class="small-caps">{{ d.name }}</h2>

  {% filter numbered_markdown %}

  # {{ f.name }} Faction Rules

  {% for rule in f.rules %}
  ## {{ rule['name'] }}

  {{ rule['text'] }}
  {% endfor %}
  # Detachment: {{ d.name }}

  {% if d.secondary_faction or d.banned_keywords %}

  ## Army Muster Restrictions

  <ul>
  {% if d.secondary_faction %}
  <li>Your units may not have a secondary faction keyword other than <span class="keyword">{{ d.secondary_faction }}</span>.</li>
  {% endif %}
  {% if d.banned_keywords %}
  <li>Your units may not have the following keyword{{ 's' if (d.banned_keywords|length)>1 else '' }}: <span class="keyword">{{ ', '.join(d.banned_keywords) }}</span></li>
  {% endif %}
  </ul>

  {% endif %}

  {% for rule in d.rules %}
  ## {{ rule['name'] }}

  *{{ rule['lore'] }}*

  {{ rule['text'] }}

  {% for option in rule['options'] %}
  ### {{ option['name'] }}

  {% if option['lore'] %}*{{ option['lore'] }}*{% endif %}

  {{ option['text'] }}

  {% endfor %}

  {% endfor %}

  {% if d.restrictions %}

  ## Restrictions

  {% for r in d['restrictions'] %}
  * {{ r }}{% endfor %}

  {% endif %}

  ## Strategems

  {% for strat in d.strategems %}
  ### {{ strat['name'] }}

  {% include "elements/strategem.html" %}

  {% endfor %}


  {% if d.spells %}

  ## Spells

  ### [6+] Smite

  > Select an enemy unit within 18". It suffers d3 + 1 Mortal Damage. Until the end of the battle, increase the Difficulty of this spell for your army by 1.

  {% for spell in d.spells %}
  ### [{{ spell['difficulty'] }}+] {{ spell['name'] }}

  >{{ spell['effect'] }}

  {% endfor %}
  {% endif %}

  # Units

  {% endfilter %}
  
</div>

{% with unit_listing = d.unit_listing %}
{% include "elements/unit_listing.html" %}
{% endwith %}

{% endblock %}