{% extends "_core_centered.html" %}

{% block title %}
<title>Faction: {{ f.name }} </title>
{% endblock %}

{% block pagecontent %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ f.name }}</li>
  </ol>
</nav>

<h1 class="small-caps">{{ f.name }}</h1>

<div class="nested-numbered-list">

{% filter numbered_markdown %}

*{{f.lore}}*

{% for rule in f.rules %}
# {{ rule }}

{{ f.rules[rule] }}

{% endfor %}

# Detachments

<ul>
{% for entry in f.detachments %}
<li><a href="{{ entry.permalink }}">{{ entry.name }}</a></li>
{% else %}
* None yet. Stay tuned!
{% endfor %} 
</ul>

# Units

<table class="table">
  <tr></tr>
  {% for role in f.units if f.units[role] %}
  <thead>
    <tr>
      <td scope="col"><b>{{ role }}</b></td>
      <td scope="col"><i class="fas fa-fw fa-tag"></i></td>
      <td scope="col"><i class="fas fa-fw fa-tally"></i></td>
      <td scope="col"><i class="fas fa-fw fa-sigma"></i></td>
    </tr>
  </thead>
  {% for unit in f.units[role] %}
  <tr>
    <td><a href="{{ unit.permalink }}">{{ unit.display_name }}</a></td>
    <td>{{ unit.ppm }}</td>
    <td><input id="qty_{{ unit.id }}" type="number" class="form-control list-qty" min="0" max="80" data-unit-id="{{ unit.id }}">
      <input id="ppm_{{ unit.id }}" type="hidden" class="form-control disabled" disabled value="{{ unit.ppm or '' }}"></td>
    <td><span id="total_{{ unit.id }}"></span></td>
  </tr>
  {% endfor %}
  {% else %}
  
  <thead>
    <tr>
      <td scope="col">None yet. Stay tuned!</td>
      <td scope="col"></td>
      <td scope="col"></td>
      <td scope="col"></td>
    </tr>
  </thead>
  {% endfor %}
</table>

{% endfilter %}

</div>
{% endblock %}
