{% extends "_core_centered.html" %}

{% macro backside() %}
    {% if u.core_rules %}
    <p>CORE RULES: <span class="fw-bold">{{ ', '.join(u.core_rules) }}</span></p>
    {% endif %}
    {% if u.faction_rules %}
    <p>FACTION RULES: <span class="fw-bold">{{ ', '.join(u.faction_rules) }}</span></p>
    {% endif %}
    {% if u.unit_rules %}
    <p><span class="fw-bold">ABILITIES</span></p>
    <ul>
    {% for rule in u.unit_rules %}
      <li><span class="fw-bold">{{ rule['name'] }}</span> - {{ rule['text'] }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    <span class="fw-bold">UNIT COMPOSITION</span>
    <ul>
      {% for entry in u.composition %}
      <li>{{ entry }}</li>
      {% endfor %}
    </ul>
    <p>Every model is equipped with: </p>
      <ul>
      {% for weapon in u.default_weapons %}
        <li>{{ weapon.name }}</li>
      {% endfor %}
      </ul>
    {% if u.replacement_gear %}
    <p>The following substitutions may be made: </p>
      <ul>
      {% for x in u.replacement_gear %}
        <li>{{ x }} may be replaced with one of:</li>
        <ul>
          {% for y in u.replacement_gear[x] %}
          <li>{{ u.weapon(y).name }}</li>
          {% endfor %}
        </ul>
      {% endfor %}
      </ul>
    {% endif %}
{% endmacro %}


{% block pagecontent %}

<h1>{{ u.name }}</h1>

<div class="row">
  <div class="col col-8">
    <div class="row g-0">
      <table class="table w-100">
        <thead>
          <tr>
            <th scope="col" class="text-center">M</th>
            <th scope="col" class="text-center">T</th>
            <th scope="col" class="text-center">Sv</th>
            <th scope="col" class="text-center">HP</th>
            <th scope="col" class="text-center">Ld</th>
            <th scope="col" class="text-center">OC</th>
          </tr>
        </thead>
        <tr>
          <td class="text-center">{{ u.move }}"</td>
          <td class="text-center">{{ u.tough }}</td>
          <td class="text-center">{{ u.save }}+</td>
          <td class="text-center">{{ u.hp }}</td>
          <td class="text-center">{{ u.lead }}+</td>
          <td class="text-center">{{ u.oc }}</td>
        </tr>
      </table>

      <table class="table w-100">
        <tr></tr>
        <thead>
          <tr>
            <th scope="col">Ranged Weapons</th>
            <th scope="col" class="text-center">Range</th>
            <th scope="col" class="text-center">A</th>
            <th scope="col" class="text-center">RS</th>
            <th scope="col" class="text-center">S</th>
            <th scope="col" class="text-center">AP</th>
            <th scope="col" class="text-center">Dmg</th>
          </tr>
        </thead>
        {% for weapon in u.ranged_weapons %}
        <tr>
          <td>{{ weapon.name }}{% if weapon.keywords %} <span class="keyword">[{{ ", ".join(weapon.keywords) }}]</span>{% endif %}</td>
          <td class="text-center">{{ weapon.rng }}"</td>
          <td class="text-center">{{ weapon.atk }}</td>
          <td class="text-center">{% if weapon.skl %}{{ weapon.skl }}+{% else %}-{% endif %}</td>
          <td class="text-center">{{ weapon.str }}</td>
          <td class="text-center">-{{ weapon.ap }}</td>
          <td class="text-center">{{ weapon.dmg }}</td>
        </tr>
        {% endfor %}
        <thead>
          <tr>
            <th scope="col">Melee Weapons</th>
            <th scope="col" class="text-center">Range</th>
            <th scope="col" class="text-center">A</th>
            <th scope="col" class="text-center">MS</th>
            <th scope="col" class="text-center">S</th>
            <th scope="col" class="text-center">AP</th>
            <th scope="col" class="text-center">Dmg</th>
          </tr>
        </thead>
        {% for weapon in u.melee_weapons %}
        <tr>
          <td>{{ weapon.name }}{% if weapon.keywords %} <span class="keyword">[{{ ", ".join(weapon.keywords) }}]</span>{% endif %}</td>
          <td class="text-center">Melee</td>
          <td class="text-center">{{ weapon.atk }}</td>
          <td class="text-center">{% if weapon.skl %}{{ weapon.skl }}+{% else %}-{% endif %}</td>
          <td class="text-center">{{ weapon.str }}</td>
          <td class="text-center">-{{ weapon.ap }}</td>
          <td class="text-center">{{ weapon.dmg }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
    <div class="row">
      <div class="col col-8">
        <p>KEYWORDS: <span class="keyword">{{ ', '.join(u.keywords) }}</span></p>
      </div>
      <div class="col col-4">
        <p>FACTION: <span class="keyword">{{ ', '.join(u.faction_keywords) }}</span></p>
      </div>
    </div>
    <div class="row d-block d-md-none">
      {{ backside() }}
    </div>
  </div>
  <div class="col col-4 d-none d-md-block">
    {{ backside() }}
  </div>
</div>

{% endblock %}
